@model DidYouFall.Models.Forms.AddPort




@*<div class="inner">
            <h3>
                150
            </h3>
            <p>
                New Orders
            </p>
        </div>
        <div class="icon">
            <i class="ion ion-bag"></i>
        </div>
        <a href="#" class="small-box-footer">
            More info <i class="fa fa-arrow-circle-right"></i>
        </a>
    </div>*@

@foreach (var item in Model.Servers)
{
    <div class="col-lg-3">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">
                    Host: @item.Name
                </h3>
            </div>
            <div class="box-body">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label>IP: @item.Host</label>
                    </div>

                    <div class="form-group">
                        <label>Ultimo status verificado: @item.LastStatus</label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-2">
                        <label>
                            Porta
                        </label>
                    </div>
                    <div class="col-lg-6">
                        <input type="text" class="form-control input-sm" />
                    </div>
                    <div class="col-lg-4">
                        <button class="btn btn-default">Adcionar</button>
                    </div>
                </div>
                <p>Portas Abertas</p>
            </div>
        </div>
    </div>

}


