@model List<DidYouFall.Repository.Server>
<div class="box">
    <div class="box-header">
        <h3 class="box-title">Servidores</h3>
    </div>
    <div class="box-body">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th>Name</th>
                    <th>Host</th>
                    <th>UpTime</th>
                    <th style="width: 100px">Status</th>
                    <th style="width: 100px">Next Scan</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Host</td>
                        <td>
                            <div class="progress xs">
                                <div class="progress-bar progress-bar-danger" style="width: 55%"></div>
                            </div>
                        </td>
                        <td>
                            <span class="badge bg-gray">
                                Não Verificado
                            </span>
                        </td>
                        <td>
                            0:56
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div><!-- /.box-body -->
    <div class="box-footer clearfix">
        <ul class="pagination pagination-sm no-margin pull-right">
            <li><a href="#">«</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">»</a></li>
        </ul>
    </div>
</div>