@using System.Web.Optimization
@using Recaptcha.Web.Mvc;
@model DidYouFall.Models.Forms.Login
@{
    DidYouFall.Models.Forms.Login login = Model ?? new DidYouFall.Models.Forms.Login();
}


<div class="form-box">
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">Entrar</h3>
        </div>
        @using (Html.BeginForm("Login"))
        {
            <div class="box-body">
                @if (!String.IsNullOrEmpty(login.Error))
                {
                    <div class="callout callout-danger">
                        <i class="fa fa-ban"></i>
                        <b>Erro! </b>@login.Error
                    </div>
                }
                <div class="form-group">
                    <input class="form-control" placeholder="E-mail" name="email" autofocus="" value="@login.Email" type="email">
                </div>
                <div class="form-group">
                    <input class="form-control" placeholder="Password" name="password" value="" type="password">
                </div>
                <div class="form-group" style="padding-left:80%">
                    <input type="checkbox">
                    Lembrar
                </div>
                @if (login.RecaptchaTime())
                {
                    <div class="form-group">
                        <label>Captcha</label>
                        @Html.Recaptcha(theme: Recaptcha.Web.RecaptchaTheme.White)
                    </div>
                }
            </div>
    <div class="box-footer" style="padding-left:80%">
        <button type="submit" class="btn btn-primary">Entrar</button>
    </div>
        }
    </div>
</div>
